apiVersion: v1
kind: Namespace
metadata:
  name: kube-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
  annotations:
    eks.amazonaws.com/role-arn: REPLACE_ME_IRSA_ALB_CONTROLLER_ARN
---
# Cài controller qua Helm, file này chỉ tạo SA IRSA. Lệnh tham khảo:
# helm repo add eks https://aws.github.io/eks-charts
# helm upgrade -i aws-load-balancer-controller eks/aws-load-balancer-controller \
#   -n kube-system --set clusterName=REPLACE_ME_EKS_CLUSTER_NAME \
#   --set serviceAccount.create=false --set region=REPLACE_ME_AWS_REGION \
#   --set vpcId=REPLACE_ME_VPC_ID
